@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


body {
    background: gray;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.links{
    padding: 30px 0 0 0;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.links__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
}


.button{
  text-decoration: none;
  background: #d55a5a;
  line-height: 60px;
  padding: 0px 30px;
  text-transform: uppercase;
  border-radius: 15px;
  margin: 0 0 15px 0;
  color:  #ffe;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.button{
  transition-property: padding, background-color, font-size;
  transition-duration: 1s, 0.5s, 1s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
}

.button:hover{
  padding: 0px 50px;
  background-color: red;
  font-size: 25px;
}

/*a{
    margin: 0 0 15px 0px;
    padding: 0 0 0 30px;
    //color: #a2a2c2;
    color:  black;
    text-decoration: none;
    background-color: #d55a5a;
    padding: 1em 1.5em;
    border-radius: 15px;
}

a:hover{
    color: black;
    background-color: #d55a5a;
    border: 1px solid black;
}*/



.footer {
  background-color: #000;
}
.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__row .footer_text {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.3em;
}