px/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


body{
//overflow-x: hidden;
margin: 0;
}



.layer_0{
	width: 1440px;
	height: 1700px;
	background-color: #e8e8e8;
	//border: 1px solid black;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.ellipse{
	position: absolute;
	width: 1190px;
	height: 1064px;
	background: url('../img/ellipse_1_copy_4.png');
	opacity: 0.24;
	margin: 106px 108px 530px 142px;
	//border: 1px solid black;
	padding-top: 48px;
}

.travel{
	opacity: 0.6;
	font-family: Arial;
	font-size: 14px;
	line-height: 14px;
	//line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
	text-align: center;
	margin-top: 166px;
	//border: 1px solid black;
}

.title{
	font-family: 'Times New Roman';
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
	margin-left: 336px;
	margin-right: 372px;
	margin-top: -2px;
	text-align: center;
	//border: 1px solid black;
}

.layer_1{
	position: absolute;
	width: 841px;
	height: 561px;
	background: #ffffff;
	//border: 1px solid black;
	opacity: 1;
	margin-left: 275px;
	margin-top: 32px;
	box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
}

.light_man{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
}

.text{
	position: relative;
	margin: 715px 370px 0 330px;
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.list{
	position: absolute;
	margin-left: 290px;
	margin-top: 50px;
}

.li1{
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}

.li2{
	font-style: italic;
	color: #80b7b3;
}

.li3{
	font-weight: 700;
	color: #273d46;
}

.li4p{
	opacity: 0.3;
	text-decoration: line-through;
	color:  #273d46;
	margin-top: -5px;
}

.list li{
	font-family: 'Arial';
	font-size: 20px;
	line-height: 36px;
	font-weight: 400px;
	background: url('../img/icons/icon.png') left 5px no-repeat;
	padding: 0 0 0 30px;
}

.button{
	position: absolute;
	margin:246px 0 0 330px;
	width: 199px;
	height: 44px;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	background: #80b7b3;
	border-radius: 30px;
	border-width: 0px;
	padding: 0px 0 0px 5px;
}

.p1{
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: white;
	//background: url('../img/icons/shape.png') right no-repeat;
	margin:0 10px 0 0;
}

.p2{
margin-top: 12px;
	opacity: 0.8;
}