@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: #0f1e2a;
  padding: 15px 0 15px 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__row {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__circle {
  vertical-align: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  left: 0;
  -webkit-animation-name: circle, circle_black;
          animation-name: circle, circle_black;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes circle {
  0% {
    left: -100%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    left: 150%;
  }
}

@keyframes circle {
  0% {
    left: -100%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    left: 150%;
  }
}
@-webkit-keyframes circle_black {
  20% {
    background: black;
  }
}
@keyframes circle_black {
  20% {
    background: black;
  }
}
.header:hover .header__circle {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.header__body {
  overflow: hidden;
  color: white;
  padding: 0 15px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__title {
  padding-top: 15px;
  font-size: 60px;
  margin: 0 0 30px 0;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.header__image {
  padding: 15px 0 0px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__image img {
  max-width: 100%;
  -webkit-box-shadow: 0 15px 30px 0;
          box-shadow: 0 15px 30px 0;
}

.list li {
  margin: 0 0 15px 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 36px;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
}

.info__text {
  padding-top: 30px;
  font-size: 40px;
  margin: 0 0 15px 0;
  text-align: center;
}
.info__text p {
  margin: 0 0 10px 0;
}

.mydog p {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 55px;
  font-style: italic;
  text-align: center;
  margin: 0 0 25px 0;
}

.mydog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -8px 0px -8px;
}

.mydog__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 8px 15px 8px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mydog__image img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 350px;
  -webkit-box-shadow: 0 15px 30px 0px;
          box-shadow: 0 15px 30px 0px;
}

.mydog__image img:hover {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.mydog__image:last-child {
  position: relative;
  -webkit-animation-name: dog_animation;
          animation-name: dog_animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.mydog__image:last-child:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@-webkit-keyframes dog_animation {
  from {
    left: 0;
  }
  to {
    left: 66.666%;
  }
}
@keyframes dog_animation {
  from {
    left: 0;
  }
  to {
    left: 66.666%;
  }
}
@media (max-width: 1180px) {
  .container {
    max-width: 970px;
  }

  .mydog__image:last-child {
    -webkit-animation: none;
            animation: none;
  }

  .mydog__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 936px) {
  .header__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
  }
}
@media (max-width: 925px), (orientation: portrait) {
  .header__title {
    text-align: center;
  }

  .list li {
    font-size: 18px;
  }

  .info__text {
    font-size: 30px;
  }

  .mydog p {
    font-size: 50px;
  }
}
@media (max-width: 794px), (orientation: portrait) {
  .header__body {
    overflow: inherit;
  }

  .mydog p {
    font-size: 45px;
  }

  .mydog__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 95%;
            flex: 0 1 95%;
  }
}
@media (max-width: 750px), (orientation: portrait) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__row .list {
    display: inline-block;
    margin: 0 0 0 25px;
  }
  .header__row .list li {
    line-height: 1.5em;
  }
}
.footer {
  background-color: #000;
}
.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__row .footer_text {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.3em;
}